<phpunit bootstrap="src/Shop.class.php" colors="always">
 	<testsuites>
		<testsuite name="RESTClient Test">
			<file>tests/RESTClientTest.php</file>
		</testsuite>
		<testsuite name="Shop Test">
			<file>tests/ShopTest.php</file>
		</testsuite>
		<testsuite name="InputValidator Test">
			<file>tests/InputValidatorTest.php</file>
		</testsuite>
		<testsuite name="ConfigLoader Test">
			<file>tests/ConfigLoaderTest.php</file>
		</testsuite>
	</testsuites>
	<groups>
		<include>
			<group>utility</group>
			<group>shopobjects</group>
		</include>
	</groups>
</phpunit>
